{% extends 'base.html' %}
{% block content %}

  <h1>Welcome to the Survey Hub</h1>
  <p>
    Pick a survey to take.
  </p>

  <!--
    DO NOT CHANGE THE FORM ACTION OR METHOD
    You'll need to write the applicable code to handle this request
   -->
  <form action="/begin" method="POST">
    <select name="survey_code">
      {% for survey in surveys %}
      <option value="{{ surveys[survey].code }}">{{ surveys[survey].title }}: {{ surveys[survey].instructions }}</option>
    {% endfor %}
    </select>

    <button>Start!</button>
  </form>

{% endblock %}
